  
    <!--Page Title-->
    <section class="page-title">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Title -->
            	<div class="title-column col-md-6 col-sm-8 col-xs-12">
                	<h1>Contact Us</h1>
                </div>
                <!--Bread Crumb -->
                <div class="breadcrumb-column col-md-6 col-sm-4 col-xs-12">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Map Section-->
    <section class="map-section">
    	<!--Map Outer-->
        <div class="map-outer">
            <!--Map Canvas-->
            <div class="map-canvas"
            	data-icon-path="/images/icons/map-marker.png"
                data-zoom="12"
                data-lat="31.212706"
                data-lng="29.943383"
                data-type="roadmap"
                data-hue="#ffc400"
                data-title="Envato"
                data-content="catalogeg, Alexandria Egypt<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
            </div>
        </div>
    </section>
    <!--End Map Section-->
    
    <!--Contact Section-->
    <section class="contact-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <div class="form-column col-md-7 col-sm-12 col-xs-12">
                	
                    <h2>Send Message</h2>
                    <div class="text">Feel free to contact us.</div>
                    <div class="contact-form">
                        <form>
                            <div class="row clearfix">
                                    
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="username" value="" placeholder="Your Name">
                                </div>
                                
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <input type="email" name="email" value="" placeholder="Your Email">
                                </div>
                                
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <textarea name="message" placeholder="Your Message"></textarea>
                                </div>
                                
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" class="theme-btn btn-style-one">Send Message</button>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                    
                </div>
            
                <div class="info-column col-md-5 col-sm-12 col-xs-12">
                	<div class="inner-column">
                        <h2>Contact Info</h2>
                        <ul class="contact-info">
                            <li><div class="icon-box"><span class="">@</span></div><h4>E-mail</h4>catalog.eg@gmail.com</li>
                            <li class="phone"><div class="icon-box"><span class="flaticon-technology"></span></div><h4>Phone</h4>+201100111504</li>
         
                            <li class="map"><div class="icon-box"><span class="flaticon-placeholder"></span></div><h4>Address</h4>28 El Mohandes Mohamed Zahran Street, Sidi Gaber, Alexandria, Egypt</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    <!--End Contact Section-->
