    <link href="/css/owl.css" rel="stylesheet" type="text/css">
<style>
.sponsors-section .sponsors-outer .image-box {
    position: relative;
    text-align: center;
    width: 190px;
    height: 148px;
}
</style>
   <div ng-controller="CTRL">
       
    <!--Marketing Section-->
    <section class="marketing-section alternate" >
    	<div class="auto-container">
        	<h2>We’re    <span class="theme_color">Catalog</span> Marketing  Agency</h2>
            <div class="title-text">We provide Bussiness Success From C -> G  </div>
            <div class="row clearfix">
            
            	<!--Services Block Five-->
            	<div class="services-block-five col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon"><img src="/images/resource/icon-16.png" alt="" /></span>
                        </div>
                        <h3><a href="services.html">Expert <br> Team &amp; Quick Support</a></h3>
                        <div class="text">With our strong background in both the theory and practice of marketing management, we are able to offer full marketing support.</div>
                    </div>
                </div>
                
                <!--Services Block Five-->
            	<div class="services-block-five col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon"><img src="/images/resource/icon-17.png" alt="" /></span>
                        </div>
                        <h3><a href="services.html">Fast &amp; <br> Quick Result</a></h3>
                        <div class="text">Who are your current customers, and why do they buy from you? Look for common characteristics and interests. </div>
                    </div>
                </div>
                
                <!--Services Block Five-->
            	<div class="services-block-five col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon"><img src="/images/resource/icon-18.png" alt="" /></span>
                        </div>
   
                        <h3><a href="services.html">Quality <br> Service in Low Cost</a></h3>
                        <div class="text">we provide Quality, we provide satisfaction with a fair price  </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Marketing Section-->
    
    <!--Audit Section-->
    <section class="audit-section">
    	<div class="auto-container">
            <!--Audit Form-->
            <div class="audit-form">
                <h2>Check your Marketing problems for free!</h2>
                <!--Audit Form-->
                <div class="audit-form">
                    <form >
                        <div class="row clearfix">
                            <div class="column col-md-9 col-sm-12 col-xs-12">
<!--
                                <div class="row clearfix">
                                    <div class="form-group col-md-7 col-sm-7 co-xs-12">
                                        <input type="text" name="text" value="" placeholder="Type your website address here" required>
                                    </div>
                                    <div class="form-group col-md-5 col-sm-5 co-xs-12">
                                        <input type="email" name="email" value="" placeholder="Your Email" required>
                                    </div>
                                </div>
-->
                            </div>
                            <div class="column col-md-4 col-sm-12 col-xs-12 col-md-offset-4">
                                <div class="form-group">
                                    <button type="submit" ng-click="redirectReloadContact()" class="theme-btn btn-style-two">Check up now</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
            <!--End Audit Form-->
        </div>
    </section>
    <!--End Audit Section-->
    
    <!--Business Section-->
    <section class="business-section alternate">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Image Column-->
                <div class="image-column col-md-5 col-sm-12 col-xs-12">
                	<div class="image">
                    	<img src="/images/resource/business-img.png" alt="" />
                    </div>
                </div>
                
                <!--Content Column-->
                <div class="content-column col-md-7 col-sm-12 col-xs-12">
                	<div class="inner-content">
                       
                    	<h2>Why We’re The Best Match <br> For Your Business!!</h2>
                        <div class="dark-text">When we first get to know you, we’ll immediately begin analyzing your bussiness. We want to know everything we can about it.</div>
                        <ul class="list-style-one">
                        	<li>we deliver our customers to their target audience </li>
                            <li>We’re always refining our craft which means you’ll always be getting better and better results!</li>
                            <li>We’re a team of trend setters, mavericks and leaders: innovation is an inherent part of our business model.</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Business Section-->
    
    <!--Services Section Two-->
    
      <section class="services-section-two dark-bg">
    	<div class="auto-container">
        	<!--Sec Title-->
        	<div class="sec-title light centered">
            	<h2>Our Services</h2>
                <div class="text">We have a range of services to help you in your bussiness </div>
            </div>
            
            <div class="row clearfix">
            	
                <!--Services Block Two-->
            	<div class="services-block-two style-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon"><img src="/images/resource/designIcon.png" alt="" /></span>
                        </div>
                        <h3><a href="services.html">Design &amp; Branding</a></h3>
                        <div class="text">As a top branding agency, our experts bring your vision to life with creative designs tailored to your unique brand strategy.</div>
                    </div>
                </div>
                
                <!--Services Block Two-->
            	<div class="services-block-two style-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon"><img src="/images/resource/icon-21.png" alt="" /></span>
                        </div>
                        <h3><a href="services.html">Digital Marketing</a></h3>
                        <div class="text">From SEO , Content Marketing , Email marketing to Paid Social our expert team will make your campaign a <br>success . </div>
                    </div>
                </div>
                
                <!--Services Block Two-->
            	<div class="services-block-two style-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon"><img src="/images/resource/printIcon.png" alt="" /></span>
                        </div>
                        <h3><a href="services.html">Printing</a></h3>
                        <div class="text">From traditional offset printing to copying and everything in between, you’ll find the right technology and right price to fit your needs.</div>
                    </div>
                </div>
                
                <!--Services Block Two-->
            	<div class="services-block-two style-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon"><img src="/images/resource/icon-22.png" alt="" /></span>
                        </div>
                        <h3><a href="services.html">Web Development</a></h3>
                        <div class="text">Our expert team of Website Developers &amp; Digital Strategists use cutting edge technology &amp; best practices to create custom sites that increase user engagement.</div>
                    </div>
                </div>
                
                <!--Services Block Two-->
            	<div class="services-block-two style-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon"><img src="/images/resource/icon-20.png" alt="" /></span>

                        </div>
                        <h3><a href="services.html">Strategy</a></h3>
                        <div class="text">Our strategy services provide customized, digital solutions to turn you into an industry 
                        leader. 
                        <br>
                        <br>
                        <br>
                         </div>
                   
                    </div>
                </div>
                
                <!--Services Block Two-->
            	<div class="services-block-two style-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon"><img src="/images/resource/mobileIcon.png" alt="" /></span>
                        </div>
                        <h3><a href="services.html">Mobile App</a></h3>
                        <div class="text">We create a mobile app experience that taps into your audience and grows your business online. Consider building a new app with our team
                        <br>
                        <br>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    
    <!--End Services Section Two-->
    
    
     <!--Gallery Section-->
    <section class="gallery-section">
    	<div class="gallery-outer clearfix">
        
        	<div class="content-column">
            	<div class="content-inner">
                	<div class="content clearfix">
                    	<div class="sec-title">
                    		<h2>Discover <br> Our Projects</h2>
                        	<div class="text">We Are Expert in software &amp; Social <br> Media , Printing  , Branding.</div>
<!--                            <a href="case-studies.html" class="theme-btn btn-style-one">SEE All PROJECTS <span class="icon fa fa-long-arrow-right"></span></a>-->
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="gallery-column">
            	<div class="clearfix">
                	
                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item col-md-6 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/images/gallery/1.jpg" alt=""></figure>
                            <!--Overlay Box-->
<!--
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="/images/gallery/1.jpg" class="lightbox-image image-link" data-fancybox-group="example-gallery" title=""><span class="icon fa fa-expand"></span></a>
                                        <a href="case-single.html" class="image-link"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
-->
                        </div>
                    </div>
                    
                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item col-md-6 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/images/gallery/2.jpg" alt=""></figure>
                            <!--Overlay Box-->
<!--
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="/images/gallery/2.jpg" class="lightbox-image image-link" data-fancybox-group="example-gallery" title=""><span class="icon fa fa-expand"></span></a>
                                        <a href="case-single.html" class="image-link"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
-->
                        </div>
                    </div>
                    
                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item col-md-6 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/images/gallery/3.jpg" alt=""></figure>
<!--
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="/images/gallery/3.jpg" class="lightbox-image image-link" data-fancybox-group="example-gallery" title=""><span class="icon fa fa-expand"></span></a>
                                        <a href="case-single.html" class="image-link"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
-->
                        </div>
                    </div>
                    
                    <!--Default Portfolio Item-->
                    <div class="default-portfolio-item col-md-6 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/images/gallery/4.jpg" alt=""></figure>
                            <!--Overlay Box-->
<!--
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="/images/gallery/4.jpg" class="lightbox-image image-link" data-fancybox-group="example-gallery" title=""><span class="icon fa fa-expand"></span></a>
                                        <a href="case-single.html" class="image-link"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
-->
                        </div>
                    </div>
                    
<!--
                    <div class="default-portfolio-item col-md-6 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/images/gallery/5.jpg" alt=""></figure>
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="/images/gallery/5.jpg" class="lightbox-image image-link" data-fancybox-group="example-gallery" title=""><span class="icon fa fa-expand"></span></a>
                                        <a href="case-single.html" class="image-link"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="default-portfolio-item col-md-6 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/images/gallery/6.jpg" alt=""></figure>
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="/images/gallery/6.jpg" class="lightbox-image image-link" data-fancybox-group="example-gallery" title=""><span class="icon fa fa-expand"></span></a>
                                        <a href="case-single.html" class="image-link"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
-->
                    
                </div>
            </div>
        </div>
    </section>
    
    <!--End Gallery Section-->
    

    <!--Testimonial Section Two-->
    <section class="testimonial-section-two style-two">
    	<div class="auto-container">

                        <div class="sec-title light centered">
            	<h2>What Customer Says</h2>
                <div class="quote-icon"><span class="icon flaticon-left-quote-1"></span></div>
            </div>
            <div class="single-item-carousel owl-carousel owl-theme">
            
            	<div class="testimonial-style-two">
                	<div class="inner-box">
                       
                    	<div class="text">Everyone loves my website. People find it attractive and easy to navigate
                       catalog came up with the design on their first try, delivered the complete package on a reasonable budget, and continued to fine-tune it.</div>
                        <h3>MR . Mohamed Ibrahim El - Tohami</h3>
                        <div class="designation">Sea Services</div>
                    </div>
                </div>
                
            	<div class="testimonial-style-two">
                	<div class="inner-box">
                    	<div class="text">Catalog produced a amazing Designs for us and we couldn't be happier with the results
They really took on our project as it was their own and they pulled through to the finish line. </div>
                        <h3>Mrs . Nessrin Badr</h3>
                        <div class="designation">Green Gate</div>
                    </div>
                </div>
                
            	<div class="testimonial-style-two">
                	<div class="inner-box">
                     
                    	<div class="text">  Its truly been a pleasure working with Catalog
They are always available and answer any questions we have promptly. They did an excellent job setting up our campaign and I would highly recommend them to others looking for a design and social media .</div>
                        <h3>DR . abd El-latiif</h3>
                        <div class="designation">DR . abd El-latiif</div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    <!--End Testimonial Section-->
    
    <!--News Section-->
<!--
    <section class="news-section">
    	<div class="auto-container">

                        <div class="sec-title centered">
            	<h2>Latest News</h2>
            </div>
            <div class="row clearfix">
            	
                <div ng-repeat="blog in blogs  | limitTo:3 ">
                    
            	<div class="news-style-one col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                    	<div class="image">
                        	<a ng-href="/singleBlog/:{{blog._id}}"><img ng-src="{{blog.url.slice(6)}}" alt="" /></a>
                            <div class="post-time">{{blog.date.slice(0,9)}}</div>
                        </div>
                        <div class="lower-content">
                        	<h3><a ng-href="/singleBlog/:{{blog._id}}" >{{blog.title}}</a></h3>
                            <a ng-href="/singleBlog/:{{blog._id}}" class="more-detail">More Details <span class="icon fa fa-long-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
                </div>
        
            </div>
        </div>
    </section>
    
-->
    <!--End News Section-->
       </div>

    <!--Sponsors Section-->
    <section class="sponsors-section">
    	<div class="auto-container">
        	<!--Sponsors Title-->
        	<div class="sponsors-title">
            	<h2>We Can’t Achive Success without our Partners</h2>
            </div>
            
            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/img/green.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/img/mobiParkLogo.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/img/abdo.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/img/smart.png" alt=""></a></figure></li>
<!--
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/images/clients/4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/images/clients/3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="/images/clients/4.png" alt=""></a></figure></li>
-->
                </ul>
            </div>
            
        </div>
    </section>
    <!--End Sponsors Section-->
    <script src="/js/main-slider-script.js"></script>
 
    <script>
	//Single Item Carousel
	if ($('.single-item-carousel').length) {
		$('.single-item-carousel').owlCarousel({
			loop:true,
			margin:0,
			nav:true,
			smartSpeed: 700,
			autoplay: 4000,
			navText: [ '<span class="fa fa-angle-left"></span>', '<span class="fa fa-angle-right"></span>' ],
			responsive:{
				0:{
					items:1
				},
				600:{
					items:1
				},
				800:{
					items:1
				},
				1024:{
					items:1
				},
				1200:{
					items:1
				}
			}
		});    		
	}
	

        //Sponsors Carousel
	if ($('.sponsors-carousel').length) {
		$('.sponsors-carousel').owlCarousel({
			loop:true,
			margin:50,
			nav:true,
			smartSpeed: 700,
			autoplay: 4000,
			navText: [ '<span class="fa fa-angle-left"></span>', '<span class="fa fa-angle-right"></span>' ],
			responsive:{
				0:{
					items:1
				},
				600:{
					items:2
				},
				800:{
					items:3
				},
				1024:{
					items:4
				},
				1200:{
					items:4
				}
			}
		});    		
	}


</script>

