  <!--Page Title-->
    <section class="page-title">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Title -->
            	<div class="title-column col-md-6 col-sm-8 col-xs-12">
                	<h1>Web Development </h1>
                </div>
                <!--Bread Crumb -->
                <div class="breadcrumb-column col-md-6 col-sm-4 col-xs-12">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Web Development</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Business Section-->
    <section class="business-section alternate">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Image Column-->
                <div class="image-column col-md-5 col-sm-12 col-xs-12">
                	<div class="image">
                    	<img src="/img/develop.jpg" alt="" />
                    </div>
                </div>
                
                <!--Content Column-->
                <br>
                <br>
                <div class="content-column col-md-7 col-sm-12 col-xs-12">
                	<div class="inner-content">
                    	<h2>Best Web Development With Expert Team</h2>
<!--                        <div class="dark-text">When we first get to know you, we’ll immediately begin analyzing your website. We want to know everything we can about it.</div>-->
                       <br>
                       




                        <ul class="list-style-one">
                        	<li>Project analysis .</li>
                            <li>Prototype design</li>
                            <li>implementation.</li>
                            <li>Testing.</li>
                            <li>Delivery.</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Business Section-->
    
    <!--Offer Section-->
      <section class="services-section-two dark-bg">
    	<div class="auto-container">
        	<!--Sec Title-->
        	<div class="sec-title light centered">
            	<h2>Our Services</h2>
                <div class="text">We have a range of services to help you in your bussiness </div>
            </div>
            
            <div class="row clearfix">
            	
                <!--Services Block Two-->
            	<div class="services-block-two style-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon"><img src="images/resource/designIcon.png" alt="" /></span>
                        </div>
                        <h3><a href="services.html">Design &amp; Branding</a></h3>
                        <div class="text">As a top branding agency, our experts bring your vision to life with creative designs tailored to your unique brand strategy.</div>
                    </div>
                </div>
                
                <!--Services Block Two-->
            	<div class="services-block-two style-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon"><img src="images/resource/icon-21.png" alt="" /></span>
                        </div>
                        <h3><a href="services.html">Digital Marketing</a></h3>
                        <div class="text">From SEO , Content Marketing , Email marketing to Paid Social our expert team will make your campaign a <br>success . </div>
                    </div>
                </div>
                
                <!--Services Block Two-->
            	<div class="services-block-two style-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon"><img src="images/resource/printIcon.png" alt="" /></span>
                        </div>
                        <h3><a href="services.html">Printing</a></h3>
                        <div class="text">From traditional offset printing to copying and everything in between, you’ll find the right technology and right price to fit your needs.</div>
                    </div>
                </div>
                
                <!--Services Block Two-->
            	<div class="services-block-two style-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon"><img src="images/resource/icon-22.png" alt="" /></span>
                        </div>
                        <h3><a href="services.html">Web Development</a></h3>
                        <div class="text">Our expert team of Website Developers &amp; Digital Strategists use cutting edge technology &amp; best practices to create custom sites that increase user engagement.</div>
                    </div>
                </div>
                
                <!--Services Block Two-->
            	<div class="services-block-two style-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon"><img src="images/resource/icon-20.png" alt="" /></span>

                        </div>
                        <h3><a href="services.html">Strategy</a></h3>
                        <div class="text">Our strategy services provide customized, digital solutions to turn you into an industry 
                        leader. 
                        <br>
                        <br>
                        <br>
                         </div>
                   
                    </div>
                </div>
                
                <!--Services Block Two-->
            	<div class="services-block-two style-two col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="icon-box">
                        	<span class="icon"><img src="images/resource/mobileIcon.png" alt="" /></span>
                        </div>
                        <h3><a href="services.html">Mobile App</a></h3>
                        <div class="text">We create a mobile app experience that taps into your audience and grows your business online. Consider building a new app with our team
                        <br>
                        <br>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    
    <!--End Sponsors Section-->
     <section class="contact-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <div class="form-column col-md-7 col-sm-12 col-xs-12">
                	
                    <h2>Send Message</h2>
                    <div class="text">This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.</div>
                    <div class="contact-form">
                        <form >
                            <div class="row clearfix">
                                    
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="username" value="" placeholder="Your Name">
                                </div>
                                
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <input type="email" name="email" value="" placeholder="Your Email">
                                </div>
                                
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <textarea name="message" placeholder="Your Message"></textarea>
                                </div>
                                
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" class="theme-btn btn-style-one">Send Message</button>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                    
                </div>
            
                <div class="info-column col-md-5 col-sm-12 col-xs-12">
                	<div class="inner-column">
                        <h2>Contact Info</h2>
                        <br>
                        <br>
                        <br>
                        <ul class="contact-info">
                            <li><div class="icon-box"><span class="">@</span></div><h4>E-mail</h4>catalog.eg@gmail.com</li>
                            <li class="phone"><div class="icon-box"><span class="flaticon-technology"></span></div><h4>Phone</h4>+201100111504</li>
<!--                            <li class="fax"><div class="icon-box"><span class="flaticon-fax"></span></div><h4>FAX</h4>+657 890 546, +560 565 742</li>-->
                            
                            <li class="map"><div class="icon-box"><span class="flaticon-placeholder"></span></div><h4>Address</h4>28 El Mohandes Mohamed Zahran Street, Sidi Gaber, Alexandria, Egypt
</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
  